<div class="container splash">
      <div class="row">
            <div class="col-md-12 splash-message panel panel-default">

                <h1 class="text-center">Dogwatch</h1>

                <h5 class="text-center">Dogwatch keeps tabs on your scheduled background jobs so you don't have to.
                </h5>
                <h3 class="text-center">
                    What could be better than that?
                </h3>
                <div ui-view></div>
            </div><!-- //main content -->
        </div><!-- //row -->


</div>
