   <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
     <a class="navbar-brand" href="/">DogWatch</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a ng-show="loggedIn" ui-sref="index.watches">Watches</a></li>
              <li><a ui-sref="index.help">Help</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
        <li ng-show="loggedIn"><p class="navbar-text">Signed in as {{data.user.email}}</p></li>
        <li ng-show="loggedIn"><button type="button" class="btn btn-default navbar-btn" ng-click="logout()">Sign Out</button></li>

        <li ng-hide="loggedIn"><a ui-sref="index.register">Register</a></li>
        <li ng-hide="loggedIn"><a ui-sref="index.login">Login</a></li>
              <li><a ui-sref="index.help">Help</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div> 



 <div ui-view></div>

</div>
