<div class="modal-header">{{watch.get('name')}}</div>

<div class="modal-body">

<div class="panel panel-default">
  <div class="panel-body">
    To checkin for this watch, hit this URL:
    <pre><code class="javascript">curl http://{{$parent.data.host}}/lookout/{{watch.get("uid")}}</code></pre>
    To include a message, add a query parameter:
    <pre><code class="javascript">curl http://{{$parent.data.host}}/lookout/{{watch.get("uid")}}?m=Got%20it</code></pre>
    To set status, add an "s" or "status" query parameter:
    <pre><code class="javascript">curl http://{{$parent.data.host}}/lookout/{{watch.get("uid")}}?s=success</code></pre>
    Hit the lookout after your cron job is completed:
    <pre><code class="javascript">doSomeWork &amp;&amp; curl http://{{$parent.data.host}}/lookout/{{watch.get("uid")}}?s=success</code></pre>
  </div>
</div>

</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Done</button>
</div>
